.fixed-bottom-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.is-round {
    border-radius: 9999px;
}

.sticky-header {
	position: sticky;
	top: 0px;
	z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

html {
    overflow-y: visible;
}
